<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://use.fontawesome.com/18ff5bf1e1.js"></script>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron text-center" style="background-image:  linear-gradient( rgba(255,255,255,.7), rgba(255,255,255,.7) ), url(https://media.comicbook.com/2020/01/josuke-1202261-1280x0.jpeg); background-size: 100%;">
      <h1>josiahr/blog</h1>
      <p>A blog that no one asked for!</p>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-4">
          <a href="about.html" style="color: #000000"><h5>About</h5></a>
        </div>
        <div class="col-sm-4">
          <a href="projects.html" style="color: #000000"><h5>Projects</h5></a>
        </div>
        <div class="col-sm-4">
          <h5>Socials</h5>
        </div>
      </div>
    </div>
    <hr><br>
    <div class="container">
      <h1>My Socials<h1><br>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="jumbotron">
            <div class="container">
                <i class="fab fa-instagram" style="padding-right:5px;font-size:256px;"></i>
                <br>
                <h1 style="padding-right:10px;">@spoooky.js</h1>
                <a href="https://www.instagram.com/spoooky.js/"><button type="button" class="btn btn-primary"style="font-size:20px;">Follow</button></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="jumbotron">
              <div class="container">
                  <i class="fab fa-twitter" style="padding-right:5px;font-size:256px;"></i>
                  <br>
                  <h1 style="padding-right:10px;">@josiahr_</h1>
                  <a href="https://twitter.com/josiahr_"><button type="button" class="btn btn-primary"style="font-size:20px;">Follow</button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="jumbotron">
                <div class="container">
                    <i class="fab fa-spotify" style="padding-right:5px;font-size:256px;"></i>
                    <br>
                    <h1 style="padding-right:10px;">Josiah</h1>
                    <a href="https://open.spotify.com/user/698pwpqs0anzbtgprtqexvk8p?si=ctUT0AnSTHCMpJIQ55pHhA"><button type="button" class="btn btn-primary"style="font-size:20px;">Follow</button></a>
                  </div>
                </div>
              </div>
        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
