<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://use.fontawesome.com/18ff5bf1e1.js"></script>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron text-center" style="background-image:  linear-gradient( rgba(255,255,255,.7), rgba(255,255,255,.7) ), url(https://media.comicbook.com/2020/01/josuke-1202261-1280x0.jpeg); background-size: 100%;">
      <h1>josiahr/blog</h1>
      <p>A blog that no one asked for!</p>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-4">
          <a href="about.html" style="color: #000000"><h5>About</h5></a>
        </div>
        <div class="col-sm-4">
        <h5>Projects</h5>
        </div>
        <div class="col-sm-4">
          <a href="index.html" style="color: #000000"><h5>Socials</h5></a>
        </div>
      </div>
    </div>
    <hr><br>
    <div class="container">
      <h1>My Projects</h1><br>
      <div class="row text-center">
        <div class="col-md-4">
          <a href="https://github.com/spookyjos" style="color: #000000; text-decoration:none;"><div class="jumbotron text-center">
            <div class="row text-center">
              <i class="fab fa-github" style="font-size: 72px;"></i>
              <h2 style="padding-left: 15px;">spookyjos</h2>
            </div>
          </div></a>
        </div>
        <div class="col-md-8">
          <h1>Flask x Babylon.js x Vue.js Website</h1>
          <p>A website I created to showcase my friends' newfound knowledge of Blender and Unity, as well as being the end result of following a Flask guide, The Flask Mega Tutorial by Miguel Grinberg, during an internship at A*STAR IHPC. Took ten days to plan, code and debug any errors. Faced difficulties dealing with the default camera my friends deployed being overwritten by Babylon.js, had to get help to visualise the vectors used to place the camera properly. All CSS hard-coded in, hence the simplistic and rather backward design. <br> Site accessible at <a href="" style="text-decoration: none;">https://wow-ihpc.herokuapp.com</a></p>
        </div>
      </div>
      <div class="row text-center">
        <img src="../img/ihpc.jpeg" class="col-md-4" style="padding:20px;"></img>
        <img src="../img/wow1.png" class="col-md-4" style="padding:20px;"></img>
        <img src="../img/wow2.png" class="col-md-4"style="padding:20px;"></img>
      </div>
      <br>
      <div class="col-md-12">
        <hr>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-8">
          <h1>Google CSSI Website</h1>
          <p>A website created by me and two partners as a final project when I attended the first Google Computer Science Summer Institute (CSSI) held in Singapore in 2019, where fellow Googlers taught us how to code in HTML, CSS, JavaScript, Python and how to use Google AppEngine and Google Cloud to host a site. Got to experience the Googler life for two weeks at Google APAC HQ, as well as meet many coder friends that I still keep in contact with to this date. <br> Unfortunately, the link to the website is invalid because the Google Cloud trial expired long ago.</p>
        </div>
        <img src="../img/cssi.png" class="col-md-4"></img>
      </div>
      <br>
      <div class="row text-center">
        <img src="../img/googlecert.jpg" class="col-md-4" style="padding:20px;"></img>
        <img src="../img/cssigang.jpeg" class="col-md-4" style="padding:20px;"></img>
        <img src="../img/tjgang.jpeg" class="col-md-4" style="padding:20px;"></img>
      </div>
    </div>
    <br><br>
    <div class="jumbotron" style="padding-bottom: 25px; padding-top: 25px; margin-bottom: 0px;">
      <h6>A production of Josiah Rachmat, created completely from scratch with Bootstrap 5.</h6>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
